.footer {
  margin-bottom: 50px;
  text-align: center;

  .footer-description {
    font-family: 'Muller';
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 2px;
    color: $color-white;

    &.black {
      color: #3C4147;
    }
  }
}


