.login-box {
  margin-bottom: 285px;
  .login-box-body {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: auto;
    width: 350px;


    .login-head {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;

      margin-bottom: 40px;

      .big-title {
        margin-bottom: 15px;
      }

    }

    .login-body {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;


      .code-inputs {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;

        .inputs-divider {
          margin-left: 10px;
          margin-right: 10px;
        }
      }

    }
  }

  .left-side-inputs {
    .input {
      margin-left: 2px;
      margin-right: 0;
    }
  }

  .right-side-inputs {
    .input {
      margin-left: 0;
      margin-right: 2px;
    }
  }
}