.big-title {
  font-family: 'Muller';
  font-weight: bold;
  line-height: 45px;
  font-size: 44px;
  margin: 0;
  color: $color-white;

  &.sm {
    font-size: 30px;
    line-height: 43px;
  }
}

.text-link {
  color: #8e99a6;
  text-decoration: none;
  transition: 200ms;
}

.description {
  font-family: 'Muller';
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: $color-yellow;

  &.sm {
    color: #8E99A6;
    font-size: 15px;
    line-height: 25px;
  }
}

.input {
  border: 1px solid #4f5258;
  background: #2c2f35;
  color: white;
  text-transform: uppercase;

  text-align: center;
  font-weight: bold;
  font-size: 15px;

  text-shadow: 0 2px 4px #4f5258;
  line-height: 50px;

  height: 61px;
  width: 49px;
  border-radius: 5px;

  margin: 5px;
  transition: 200ms;

  &:focus {
    border-color: #969aa1;
  }
}

.like-song {
  display: inline-block;
  background: url("../images/like.svg") 49% no-repeat, $color-white;
  border-radius: 50%;
  border: 1px solid rgba($color: #3C4147, $alpha: 0.1);
  height: 52px;
  width: 52px;
  transition: 200ms;
  outline: none;

  &.liked {
    background: url("../images/liked.svg") center no-repeat, $color-white;
  }

  &.press {
    -webkit-transform: scale(0.94);
    transform: scale(0.94);
  }
}

.status {
  background: #FF7373;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 9px;
  line-height: 10px;
  font-weight: bold;
  color: $color-white;
  padding: 5px 0 5px 10px;
  position: relative;
  display: inline-block;
  width: 92px;
  text-align: left;

  &.success {
    background: #84CC45;
  }

  &:before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    right: 10px;
    background: $color-white;
  }
}





