@media (max-width: map-get($container-max-widths, sm)) {
  div[class^="col"] {
    padding-left: 25px;
    padding-right: 25px;

    &.disable-on-mobile {
      padding-left: 23px;
      padding-right: 0;
    }

    &.disable-on-mobile-sm {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .mobile-dn {
    display: none;
  }

  .container {
    padding-left: 25px;
    padding-right: 25px;

    &.disable-on-mobile {
      padding-left: 0;
      padding-right: 0;
      overflow-x: hidden;
    }
  }

  .row {
    margin-left: -25px;
    margin-right: -25px;
  }

  .report {

    .row {
      .col-7 {
        padding-right: 0;
        padding-left: 15px;
      }
      .col-5 {
        padding-right: 0;
        padding-left: 15px;
      }
    }
  }
}


.m-order-0 {
  order: 0;
}

.m-order-1 {
  order: 1;
}

.carts {
  .row.no-gutters-tablet {
    padding-right: 15px;
    padding-left: 15px;

    > .col,
    > [class*="col-"] {
      padding-left: 14px;
      padding-right: 14px;
    }
  }
}

@include tablet {
  .t-order-0 {
    order: 0;
  }

  .t-order-1 {
    order: 1;
  }

  .carts {
    .row.no-gutters-tablet {
      > .col,
      > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }

  .disable-on-tablet {
    max-width: 100%;
    padding: 0;
  }
}

@include desktop {
  .d-order-0 {
    order: 0;
  }

  .d-order-1 {
    order: 1;
  }
}

@media screen and (min-width: 1320px) {
  .wide-container {
    max-width: 1345px;
  }
}
